@import "../styles/global/global.scss";
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Code Pro", monospace;
}

body {
  background: $background;
}

.stailas {
  background: #0f180f;
  height: 150px;
  padding: 20px;
  min-width: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: start;
  font-size: 30px;

  color: whitesmoke;
  transition: 1s;
}
.good {
  color: #6f0;
}

.block {
  position: absolute;
  left: 20px;
  top: 60%;
  bottom: 5%;
  padding: 10px;
  background: #6f0;
  transition: 0.5s;
}
.blocknot {
  position: absolute;
  left: 20px;
  top: 60%;
  bottom: 5%;
  padding: 10px;
  background: none;
  transition: 0.5s;
}
p {
  color: $primary;
  font-size: 14px;
  padding: 5px;
  position: relative;
  z-index: -1;
  transition: 0.5s;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: linear-gradient(transparent 0, rgba(10, 16, 10, 0.5) 50%);
    opacity: 0.4;
    z-index: -1;
  }
  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: linear-gradient(transparent 0, rgba(10, 16, 10, 0.5) 50%);
    opacity: 0.4;
    z-index: 2;
  }
  &:hover {
    cursor: text;
  }
  &::selection {
    background: #b3d4fc;
  }
}
